.jumbotron { text-align: center; }

td span {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 2.42857143;
}

td.table-number span {
    line-height: 1.42857143;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}